@import 'tailwindcss';

@theme {
  --color-primary: #1868db;
  --color-primary-dark: #123263;
  --color-primary-light: #d5e4f8;

  --color-red-primary: #ff5630;
  --color-orange-primary: #ff8b00;
  --color-yellow-primary: #ffc400;
  --color-green-primary: #36b37e;
  --color-blue-primary: #00b8d9;
  --color-purple-primary: #6554c0;
  --color-gray-primary: #6b778c;
  --color-gray-primary-light: #caced6;

  --color-primary-bg: #ffffff;
  --color-secondary-bg: #e9f2fe;

  --color-primary-text: #292a2e;
  --color-secondary-text: #ffffff;
  --color-tertiary-text: #6b778c;

  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.4);
  --shadow-md: 1px 4px 6px 0 rgb(0 0 0 / 0.2);
  --shadow-lg: 2px 6px 10px 0 rgb(0 0 0 / 0.2);

  --shadow-t-sm: 0 -1px 3px -2px rgb(0 0 0 / 0.4);
  --shadow-t-md: 0 -4px 6px -4px rgb(0 0 0 / 0.3);
  --shadow-t-lg: 0 -6px 10px -6px rgb(0 0 0 / 0.3);

  --shadow-b-sm: 0 1px 3px -2px rgb(0 0 0 / 0.4);
  --shadow-b-md: 0 4px 6px -4px rgb(0 0 0 / 0.3);
  --shadow-b-lg: 0 6px 10px -6px rgb(0 0 0 / 0.3);

  --shadow-l-sm: -1px 0 3px -2px rgb(0 0 0 / 0.4);
  --shadow-l-md: -4px 0 6px -4px rgb(0 0 0 / 0.4);
  --shadow-l-lg: -6px 0 12px -6px rgb(0 0 0 / 0.4);

  --animate-drawer-open: drawer-open 0.4s ease-out 1 forwards;
  --animate-drawer-close: drawer-close 0.4s ease-out 1 forwards;

  @keyframes drawer-open {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes drawer-close {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(100%);
    }
  }
}

@layer base {
  body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    @apply text-sm leading-normal;
    color: var(--color-primary-text);
    background-color: var(--color-primary-bg);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
