@import 'tailwindcss';

@theme {
  --color-primary: #1868db;
  --color-primary-dark: #123263;

  --color-red-primary: #ff5630;
  --color-yellow-primary: #ffab00;
  --color-green-primary: #36b37e;
  --color-blue-primary: #00b8d9;
  --color-purple-primary: #6554c0;
  --color-gray-primary: #97a0af;

  --color-primary-bg: #ffffff;
  --color-secondary-bg: #e9f2fe;

  --color-primary-text: #292a2e;
  --color-secondary-text: #ffffff;
}

@layer base {
  body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    @apply text-sm leading-normal;
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
